<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://servicofacil.000webhostapp.com/">Serviço Fácil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">@</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://servicofacil.000webhostapp.com/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://servicofacil.000webhostapp.com/">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Painel</a>
      </li>
    </ul>
  </div>
</nav>